@font-face {
  font-family: Quicksand;
  font-weight: 400;
  src: url("./Quicksand-Regular.ttf");
}
@font-face {
  font-family: Quicksandmed;
  font-weight: 500;
  src: url("./Quicksand-Medium.ttf");
}
@font-face {
  font-family: Quicksandsemibold;
  font-weight: 600;
  src: url("./Quicksand-SemiBold.ttf");
}
@font-face {
  font-family: Quicksandbold;
  font-weight: 700;
  src: url("./Quicksand-Bold.ttf");
}

@font-face {
  font-family: Montserrat;
  font-weight: 400;
  src: url("./Montserrat-Regular.ttf");
}
@font-face {
  font-family: Montserratmed;
  font-weight: 500;
  src: url("./Montserrat-Medium.ttf");
}
@font-face {
  font-family: Montserratsemibold;
  font-weight: 600;
  src: url("./Montserrat-SemiBold.ttf");
}
@font-face {
  font-family: Montserratbold;
  font-weight: 700;
  src: url("./Montserrat-Bold.ttf");
}
